body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("../img/bg-payment.jpg") center/cover no-repeat;
  font-family: "Frutiger", Helvetica, sans-serif;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: #000;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}

input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}

input:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}

input:focus::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
}

.logo-header {
  width: 100%;
  height: 8vh;
  background-color: #fafafa;
}

.logo-header .logo-link .logo-img {
  height: 100%;
  width: auto;
}

.main-content {
  background-color: transparent;
  -webkit-backdrop-filter: blur(1.5em);
          backdrop-filter: blur(1.5em);
  border-radius: 0.3em;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), -1px -1px 2px #aaa, 1px 1px 2px #555;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), -1px -1px 2px #aaa, 1px 1px 2px #555;
  max-width: 80vw;
  padding: 2em 3em;
  margin: 3% auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  gap: 0.3em;
}

.main-content .transaction-title {
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.main-content .transaction-details {
  color: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 198, 26, 0.6)), to(rgba(251, 198, 26, 0.2)));
  background: linear-gradient(to bottom right, rgba(251, 198, 26, 0.6), rgba(251, 198, 26, 0.2));
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 1ch 2ch;
}

.main-content .transaction-details table td {
  padding: 0.5ch;
}

.main-content .card-container .card-container-title {
  color: #fff;
  margin: 0.6em 0;
}

.main-content .card-container .card {
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
  background-color: transparent;
  -webkit-backdrop-filter: blur(1.5em);
          backdrop-filter: blur(1.5em);
  border-radius: 0.3em;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), -1px -1px 2px #aaa, 1px 1px 2px #555;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), -1px -1px 2px #aaa, 1px 1px 2px #555;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 198, 26, 0.6)), to(rgba(251, 198, 26, 0.2)));
  background: linear-gradient(to bottom right, rgba(251, 198, 26, 0.6), rgba(251, 198, 26, 0.2));
  position: relative;
}

.main-content .card-container .card .back {
  background-color: #fbc61a;
  width: 100%;
  height: 100%;
}

.main-content .card-container .card .back .top-info {
  padding: 0.1em 1.5em;
  font-weight: lighter;
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .card-container .card .back .mag-stripe {
  width: 100%;
  height: 30px;
  background-color: #000;
  margin: 0.1em 0 2em 0;
}

.main-content .card-container .card .back .signature-field {
  display: block;
  width: 180px;
  height: 30px;
  margin: 0 0 2em 1em;
  background: #fff url("../img/signature-field.svg");
}

.main-content .card-container .card .back .card-main {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .card-container .card .back .card-main .left {
  font-size: 0.8em;
  letter-spacing: 0.1px;
}

.main-content .card-container .card .back .card-main .right {
  max-width: 50%;
}

.main-content .card-container .card .back .card-main .right img {
  max-height: 35px;
  -webkit-transform: translate(10px, -15px);
          transform: translate(10px, -15px);
}

.main-content .card-container .card .back .card-main .right .sn {
  font-size: 0.3em;
  font-weight: lighter;
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.main-content .card-container .card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-backdrop-filter: blur(1.5em);
          backdrop-filter: blur(1.5em);
  border-radius: 0.3em;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), -1px -1px 2px #aaa, 1px 1px 2px #555;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), -1px -1px 2px #aaa, 1px 1px 2px #555;
  background: #fbc61a;
}

.main-content .card-container .card .front .direct-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.5em;
  -webkit-transform: translate(-35%, -25%);
          transform: translate(-35%, -25%);
}

.main-content .card-container .card .front .direct-id .direct {
  color: #fbc61a;
  padding: 0.5ch;
  background-color: #000;
  border: 1px solid #000;
  border-bottom-right-radius: 0.4ch;
  border-bottom-left-radius: 0.4ch;
}

.main-content .card-container .card .front .direct-id .id {
  padding: 0.5ch;
  color: #000;
  border: 1px solid #000;
  border-bottom-right-radius: 0.4ch;
  border-bottom-left-radius: 0.4ch;
}

.main-content .card-container .card .front .card-logo img {
  height: 30px;
  width: auto;
  margin-left: 5%;
}

.main-content .card-container .card .front .chip-contactless img {
  height: 20px;
  width: auto;
  margin-left: 10%;
}

.main-content .card-container .card .front .contactless-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-content .card-container .card .front .card-nr-expiry {
  margin: 4% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .card-container .card .front .cardholder-name {
  margin-left: 8%;
  font-weight: 100;
}

.main-content .card-container .card .front .iban-field {
  margin: 0 0 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .card-container .card .front .iban-field .iban-albel {
  font-weight: lighter;
}

.main-content .card-container .card .front .iban-field .iban-input {
  width: 100%;
}

.main-content .card-container .card .hidden {
  visibility: hidden;
}

.main-content .card-container .card .animate-in {
  -webkit-animation: animateIn 900ms ease-in-out;
          animation: animateIn 900ms ease-in-out;
}

@-webkit-keyframes animateIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-content .card-container .card .animate-out {
  -webkit-animation: animateOut 900ms ease-in-out;
          animation: animateOut 900ms ease-in-out;
}

@-webkit-keyframes animateOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
}

@keyframes animateOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
}

.main-content .card-container .card .active {
  border-radius: 5px;
  border: 2px dashed #7e0404;
}

.main-content .action-buttons {
  margin: 1.5em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .action-buttons button {
  background-color: transparent;
  -webkit-backdrop-filter: blur(1.5em);
          backdrop-filter: blur(1.5em);
  border-radius: 0.3em;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), -1px -1px 2px #aaa, 1px 1px 2px #555;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), -1px -1px 2px #aaa, 1px 1px 2px #555;
  color: #fff;
  padding: 1em 2em;
}

.main-content .action-buttons .next-btn {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 198, 26, 0.6)), to(rgba(251, 198, 26, 0.2)));
  background: linear-gradient(to bottom right, rgba(251, 198, 26, 0.6), rgba(251, 198, 26, 0.2));
}

.main-content .action-buttons .next-btn:hover {
  background: #fbc61a;
}

.main-content .action-buttons .cancel-btn:hover {
  background: #7e0404;
}
/*# sourceMappingURL=style.css.map */